{% extends 'index.html' %}
{% load static %}

{% block title %}
    Author Details - {{ author.fname }} {{ author.lname }}
{% endblock %}

{% block links %}
    {% for link in menu_links %}
        {% if link.admin %}
            {% if user.is_authenticated and user.is_staff %}
                <a class="nav-item nav-link mx-2 {{link.active}}" href="{{link.href}}">{{link.text}}</a>
            {% endif %}
        {% else %}
            <a class="nav-item nav-link mx-2 {{link.active}}" href="{{link.href}}">{{link.text}}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <main>
        <section class='d-flex w-75 mx-auto flex-column my-4'>
            {% if author %}
                <h1 class="text-center my-4">{{author.fname}} {{author.lname}}</h1>
                <div class="card w-75 mx-auto my-2" >
                    <div class="card-body">
                        <p class="card-text">
                            <strong>First Name:</strong>
                            {{author.fname}}
                        </p>
                        <p class="card-text">
                            <strong>Last Name:</strong>
                            {{author.lname}}
                        </p>
                        <p class="card-text">
                            <strong>Date of Birth:</strong>
                            {% if author.date_birth %}
                                {{author.date_birth}}
                            {% else %}
                                Unknown
                            {% endif %}
                        </p>
                        <p class="card-text">
                            <strong>Date of Death:</strong>
                            {% if author.date_death %}
                                {{author.date_death}}
                            {% else %}
                                Not registered
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% else %}
                <h1 class='text-center'>No author found</h1>
            {% endif %}
        </section>

        <section class='d-flex w-75 mx-auto flex-column my-4'>
            <h2 class='text-center'>Author's books</h2>
            {% if books|length > 0 %}
                {% for book in books %}
                    <div class="card" style="width: 18rem;">
                        {% if book.image %}
                            <img class="card-img-top"  src="{% get_media_prefix %}{{book.image}}" alt={{book.title}}>
                        {% else %} 
                            <img class="card-img-top"  src="{% static 'not-available.jpg' %}" alt="No image available">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{book.title}}</h5>
                            <p class="card-text">{{book.summary}}</p>
                            <a href="{{book.get_absolute_url}}" class="btn btn-dark">Book Details</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <p class='text-center'>No books found for the author</p>
            {% endif %}
        </section>
    </main>

{% endblock %}